.card {
    aspect-ratio: 5/7;
    height: 35vh; /* Set a specific height */
    width: auto; /* Will maintain aspect ratio */
    /* border-radius: 3px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    /* cursor: grab; */
    position: relative;
    object-fit: cover;
    z-index: 1;
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.hand-card {
    position: absolute;
    transform-origin: center bottom;
    transform: translate(var(--x), var(--y)) rotate(var(--rotation)); /* normal state */
    transition: transform 0.2s ease;
}

.hand-card:hover {
    transform: translate(var(--x), var(--y)) rotate(var(--rotation)) translateY(-50px); /* hover state */
    /* z-index: 10; */
}