.card {
    /* background-color: red; */
    /* width: 4rem; */
    /* height: 5rem; */
    aspect-ratio: 5/7;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: grab;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.card img {
    width: auto;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
    pointer-events: none; /* Prevents any mouse interactions with the image */
    user-select: none; /* Prevents text/image selection */
    -webkit-user-drag: none; /* Webkit browsers */
    -khtml-user-drag: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari/Chrome */
}